@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* font color */
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
/* button styles */
.btn-primary{
    background-color: #FF900E;
    color: #ffffff;
    padding: 21px 24px 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-primary a{
  text-decoration: none;
  color: #ffffff;
}
  /* display flex */
  .display-flex {
    display: flex;
  }

  /* navbar styles */

  header {
    background-color: rgba(255, 144, 14, 0.1);
  }
  .navbar , .banner {
    max-width: 1452px;
    margin: 0 auto;
    padding: 50px 240px 45px 228px;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .nav-head {
    font-size: 2.8rem;
    font-weight: 700;
  }
  .nav-links{
    list-style: none;
  }
  .nav-list{
    margin-left: 50px;
  }
  .nav-link{
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1 rem;
  }

  /* banner styles */

  .banner{
    text-align: center;
  }
  .banner-head{
    font-size: 4rem;
    font-weight: 700;
  }
  .banner-descrition{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 33px;
  }
  .banner-img{
    margin-top: 50px;
  }
  .banner-main-img{
    width: 100%;
  }

  @media screen and (max-width: 576px) {
    
    .navbar , .banner{
      padding: 0;
    }
  
    .navbar , .nav-links {
        flex-direction: column;

    }
    .nav-list{
        margin-bottom: 30px;
    }
    .nav-links{
      margin-right: 270px;
     
    }
  }
  @media screen and (min-width: 576px) and (max-width: 972px) {
    .navbar {
      justify-content: space-around;
    }
    .navbar , .banner{
      padding: 50px;
    }
}
  /* main styles */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* team styles */

  .team-skills{
    max-width: 1440px;
    margin-top: 85px;
    align-items: center;
    gap: 73px;
  }
  .four-img {
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    width: 100%;
  }
  .four-img img {
    width: 100%;
  }
  .team-header {
    font-size: 2.8rem;
    font-weight: 500;
  }
  .features-color {
    color: #FF900E;
  }
  .team-text {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 1rem;
  }
  @media screen and (max-width: 576px) {
    .team-skills {
      flex-direction: column;
      text-align: center;
    }
  }
  @media screen and (min-width: 577px) and (max-width:976px) {
    .team-skills {
      flex-direction: column;
      text-align: center;
    }
  }

  /* container styles */
  

  .container-description{
    margin-top: 169px;
    max-width: 586px;
    /* width: 100%; */
    margin-right: 56px;
  }
  .container-head {
    border-left: #FF900E solid 5px;
    padding-left: 21px;
    font-size: 2.8rem;
    font-weight: 700;
    
  }
  .container-text{
    margin-top: 24px;
    margin-bottom: 30px;
    font-size: 1rem;
  }

  .skill {
    margin-bottom: 20px;
    padding: 30px 42px 30px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
  }
  .skill-head {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .skill-text {
    font-size: 1rem;
    color: #727272;
  }

  .btn-secoundary{
    padding: 46px 42px 45px 42px;
    background-color: #FF900E;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    margin-top: -200px;
  }
  .btn-clr-1{
    font-size: 4.1rem;
    font-weight: 700;
  }
  .btn-clr-2{
    font-size: 1.6rem;
    font-weight: 500;
  }
  .container-img{
    width: 800px;
  }
  .container-img img {
    width: 100%;
    margin-top: 130px;
    margin-left: 146px;
  }

 @media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .btn-secoundary{ 
    padding: 10px;
  }
  .btn-clr-1{
    font-size: 1.1rem;
    font-weight: 700;
  }
  .btn-clr-2{
    font-size: 1rem;
    font-weight: 500;
  }
  .container-img img {
    width: 40%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 }
 @media screen and (min-width: 577px) and (max-width:976px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .container-img img {
    width: 80%;
    margin-top: 0;
    margin-left: 0;
  }
  .btn-secoundary{
    padding: 20px;
    margin-top: -50px;
  }
  .btn-clr-1{
    font-size: 2rem;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}